.gradient{
    background: linear-gradient(90deg,#fb40fe 16%
,#ae40c1,hsl(288, 49%, 49%)
,#4927d4 65%,#674fca );
    box-sizing: border-box;
    height: 25vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.gradient:after{
    transform-origin: top right;
    background: inherit;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform:skewY(-10deg);
}
.blank{
    background: transparent;
    filter: blur(3rem);
    border: 1px solid white;
    border-radius: 5%;
    color: white !important;
    position: absolute;
 }

 .top-header{
    height: 40vh !important; 
} 
.img1{
    position:absolute;
    right:-4vh;
    background-color: transparent;
    top:100px;
    height: 180%;
    z-index: 20;
    width:40%;
}
.img2{
    position: absolute;
    right: 60vh;
    top:55vh;
    z-index: 10;
    width: 15%;
    height: auto;
}
.img3{
    position:absolute;
    right: 35vh;
    top:70vh;
    width: 25%;
    height:auto;
    z-index: 30;
}
.tasty{
    position: absolute;
    z-index: 40;
    top:25vh;
    left:13vh;
    
}